h1 {
    border-style: solid;
    border-color: #3366ff;
}
table {
    border-style: solid;
    border-color: #3366ff;
}
body { 
    background-color: #f2f26e;
    color: #3366ff;
    font-family: arial, helvetica, sans-serif;
}
